@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}


.animated-link {
  font-size: 20px;
  text-decoration: none;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgba(30, 143, 255, 0);
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.animated-link:hover {
  background-color: rgba(30, 143, 255, 0.5);
  transform: scale(1.1);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  animation: slideIn 2s ease-in-out;
}

.flex-item-left, .flex-item-right {
  flex: 50%;
  padding: 20px;
}

.flex-item-left img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  transition: transform 0.5s ease;
}

.flex-item-left img:hover {
  transform: scale(1.05);
}

.da {
  font-size: 70px;
  background: linear-gradient(to left, rgba(3, 114, 204, 0.452), rgba(115, 0, 130, 0.781), rgb(0, 162, 255), rgb(2, 172, 214), rgba(140, 0, 255, 0.685), rgb(159, 3, 231), rgb(0, 38, 255));
  -webkit-background-clip: text;
  color: transparent;
  animation: colorChange 3s infinite alternate;
}
.daa {
  font-size: 50px;
  background: linear-gradient(to left, rgba(3, 114, 204, 0.452), rgba(115, 0, 130, 0.781), rgb(0, 162, 255), rgb(2, 172, 214), rgba(140, 0, 255, 0.685), rgb(159, 3, 231), rgb(0, 38, 255));
  -webkit-background-clip: text;
  color: transparent;
  animation: colorChange 3s infinite alternate;
  text-align: center;
}

.contact {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.contact a img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
}

.contact a img:hover {
  transform: scale(1.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes colorChange {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

/* Responsive layout */
@media (max-width: 800px) {
  .header, .flex-container {
    flex-direction: column;
  }

  .flex-item-left, .flex-item-right {
    flex: 100%;
  }
}
.skk{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
    border: double 16px transparent;
    border-radius: 70px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), radial-gradient(circle at top left, #f00, #3020ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  :hover.skk{
    border: 5px solid transparent;
    border-image: linear-gradient(45deg, rgb(0, 4, 255) , rgb(0, 217, 255));
    border-image-slice: 1;
    height: 100px;
    border-radius: 10px;
  }